.app-wrapper {


    margin: 0 auto;
    display: grid;
   /* width: 10px; */
    grid-template-areas:
    "h h "
    "n c";


    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.nav {
    grid-area: n;
    background-color: aquamarine;

}

.header {
    grid-area: h;
    background-color: forestgreen;
}

.header img {
    width: 50px;

}

.content {
    grid-area: c;
    background-color: burlywood;
}