.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;

}


.dialogsItem{
padding: 10px;
}


.dialog  .activ{
    color: green;
}




.dialog{
}

.messages{
padding: 10px;
    color: red;
}

.message{
}